.about_ru {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  text-align: center;
}

.head h1 {
  font-size: 2rem;
  color: #333;
}

.paragraph1,
.paragraph2,
.paragraph3,
.paragraph4 {
  margin-top: 30px;
  text-align: center; /* Center text within paragraphs */
}

.paragraph1 h2,
.paragraph2 h2,
.paragraph3 h2,
.paragraph4 h2 {
  font-size: 1.5rem;
  color: #333;
}

.paragraph1 p,
.paragraph2 p,
.paragraph3 ul,
.paragraph4 p {
  font-size: 1rem;
  color: #555;
}

.paragraph3 {
  text-align: center;
}

.paragraph3 ul {
  display: inline-block; /* Make the list inline */
  list-style-type: disc;
  text-align: left; /* Align text to the left */
  margin-left: 0; /* Reset left margin */
  padding-left: 20px; /* Add padding for indentation */
}


.about-image {
  background-image: url('/images/about.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
