.nav_image {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the element a circle */
  overflow: hidden; /* Ensures the image stays within the circle */
}